.parent{
    -fx-background-color: #F6F6F8;
    -fx-background-radius: 30px;
}

.sidebar{
    -fx-background-color: #333640;
    /* -fx-background-radius: 30px 30px 0px 0px; */
}

.sidebar-opt{
    -fx-fill: #C1C1C1
}

.transparent{
    -fx-background-color: transparent;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}

/* .technic-item{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px;
}

.technic-item:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
} */

.technic-item {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

.technic-item:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-border-color: #A4CE4E;
}



/* Делаем фон ScrollPane прозрачным */
.scroll-pane {
    -fx-background-color: transparent;
}

/* Скрываем стандартный фон у viewport (внутренней области) */
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

/* Стилизация горизонтального и вертикального скроллбара */
.scroll-bar {
    -fx-background-color: transparent;
}

/* Стилизация ползунка (ползущий элемент) */
.scroll-bar .thumb {
    -fx-background-color: #C1C1C1; /* Цвет ползунка */
    -fx-background-radius: 10px; /* Закругленные края */
}

/* Изменение цвета ползунка при наведении */
.scroll-bar .thumb:hover {
    -fx-background-color: #A8A8A8;
}

/* Стилизация кнопок (стрелки) */
/* .scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
} */

/* Скрытие кнопок (стрелочек) */
/* .scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
} */

/* Стилизация трека (фона скроллбара) */
.scroll-bar .track {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px;
}

/* Устанавливаем ширину вертикального скроллбара */
.scroll-bar:vertical {
    -fx-pref-width: 10px; /* Ширина скроллбара */
}

/* Устанавливаем высоту горизонтального скроллбара */
.scroll-bar:horizontal {
    -fx-pref-height: 10px;
}
