.parent {
    -fx-background-color: #F6F6F8;
    -fx-background-radius: 30px;
}

.sidebar {
    -fx-background-color: #333640;
}

.sidebar-opt {
    /* -fx-fill: #C1C1C1; */
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.sidebar-opt:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.transparent {
    -fx-background-color: transparent;
}

.shadow {
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}

.technic-item {
    -fx-background-color: white;
    -fx-background-radius: 5px;

    -fx-scale-x: 1;
    -fx-scale-y: 1;

    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.technic-item:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;

    -fx-border-color: #A4CE4E;
    -fx-border-radius: 5px;
}

.toolbar {
    -fx-background-color: #333640;
}


.toggle-button {
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    
    -fx-border-width: 2px;
    -fx-border-color: #333640;
    -fx-background-color: white;
    
    -fx-font-size: 16px;
    -fx-text-fill: #333640;
    -fx-font-weight: bold;
    
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.toggle-button:selected {
    -fx-background-color: #A4CE4E;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}

.toggle-button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;

    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}


.table-view {
    -fx-background-color: transparent;
    /* -fx-border-color: linear-gradient(to bottom right, #333640, #A4CE4E); */
    -fx-border-radius: 8px;
    -fx-padding: 0px;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom right, #333640, #A4CE4E);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 8px 8px 0px 0px;
}

.table-view .column-header, .filter {
    -fx-background-color: transparent;
    -fx-size: 40px;
}

.table-view .column-header .label {
    -fx-text-fill: #FFF;
    -fx-font-family: "Arial";
}

.table-view .scroll-bar:vertical,
.table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
}


/* .table-containter {
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
} */





/* Делаем фон ScrollPane прозрачным */
.scroll-pane {
    -fx-background-color: transparent;
}

/* Скрываем стандартный фон у viewport (внутренней области) */
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

/* Стилизация горизонтального и вертикального скроллбара */
.scroll-bar {
    -fx-background-color: transparent;
}

/* Стилизация ползунка (ползущий элемент) */
.scroll-bar .thumb {
    -fx-background-color: #C1C1C1; /* Цвет ползунка */
    -fx-background-radius: 10px; /* Закругленные края */
}

/* Изменение цвета ползунка при наведении */
.scroll-bar .thumb:hover {
    /* -fx-background-color: #A8A8A8; */
    -fx-background-color: #333640;
}

/* Стилизация кнопок (стрелки) */
/* .scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
} */

/* Скрытие кнопок (стрелочек) */
/* .scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
} */

/* Стилизация трека (фона скроллбара) */
.scroll-bar .track {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px;
}

/* Устанавливаем ширину вертикального скроллбара */
.scroll-bar:vertical {
    -fx-pref-width: 10px; /* Ширина скроллбара */
}

/* Устанавливаем высоту горизонтального скроллбара */
.scroll-bar:horizontal {
    -fx-pref-height: 10px;
}
